.btn{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border:none;
}
.btn_default{
    padding:1.4rem 1.1rem;
}
.btn_brown:disabled{
    pointer-events: none;
    background: $btnDesabled;
}
.btn_brown {
    &:hover{
        background-color: $btnHover;
    }
    background-color: $brown;
    color: #fff;
    transition: all .3s ease;
}

h1,.h1{
    margin-top: 0;
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
}
h2,.h2{
    margin-top: 0;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 2.7rem;
}
h3,.h3{
    margin-top: 0;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
}
h4,.h4{
    margin-top: 0;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 2.1rem;
}
h5,.h5{
    margin-top: 0;
    font-size: 1.4rem;
    margin-bottom: 2.1rem;
    font-weight: 400;
}
h6,.h6{
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 2.1rem;
}


.row{
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.col{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.col--lg-3{
    width:25%;
}
.pay-widget{
    &.loaded{
        background-color:#776763;
        position:relative;
        &:before{
            content: '';
            width: 3.4rem;
            height: 3.4rem;
            background:url('/images/preloader.gif') no-repeat center;
            background-size: contain;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

        }
        .pay-widget__title{
            opacity: 0;
        }
    }
    font-weight: 700;
}
.pay-widget__check-ico{
    width:1.5rem;
    height: 1.2rem;
    stroke:#fff;
    fill:none;
    margin-right: .6rem;
}
.pay-widget__subtitle{
    display: none;
    align-items: center;
    
}
.pay-widget{
    height: 4.8rem;
    min-width: 11.8rem;
    padding: 1.4rem 1rem;
}
.pay-widget.active{
    pointer-events: none;
    .pay-widget__title{
        display: none;
    }
    .pay-widget__subtitle{
        display: flex;
    }
}