// @font-face {
//     font-family: 'Merriweather';
//     src: url('../fonts/Merriweather-Regular.woff2') format('woff2'),
//          url('../fonts/Merriweather-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//   }
//   @font-face {
//     font-family: 'Merriweather';
//     src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
//          url('../fonts/Merriweather-Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//   }

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
