.footer{
    background: #ECEAEA;
    padding-top: 2.4rem;
    padding-bottom: 2.3rem;
}
.footer__content{
    display: flex;
    align-items: center;
}
.footer-nav__link{
    color: #555;
}
.footer__left{
    display: inline-flex;
    align-items: center;
    flex: 1;
}
.footer__pin{
    display: inline-flex;
    align-items: center;
}
.footer__phone{
    display: inline-flex;
    align-items: center;
}
.footer__phone-ico{
   width: 1.4rem;
   height: 1.4rem;
   fill:#555;
   margin-right:.9rem;
}
.footer__pin-ico{
    width: 1.3rem;
    height: 1.4rem;
    fill:#555;
    margin-right: .8rem;
}
.footer-contacts{
    display: inline-flex;
    align-items: center;
}
.footer-contacts__item{
    margin-left: 4.8rem;
}