html {
    font-size: 62.5%;
}
body {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    color: #343030;
    background-color: #f6f3f3;
}
.wrapper{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}
.wrapper_default{
    max-width: 124.7rem;
}
.header{
    padding-top: 2.4rem;
    padding-bottom: 2.3rem;
    border-bottom: 1px solid #E1E1E1;
}
.header-row{
    display: flex;
    align-items: center;
}
.header__search{
    width: 100%;
    max-width: 41.6rem;
    display: flex;
    align-items: center;
}
.search__input{
    
&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $placeholder;
}
&::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder;
}
&:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder;
}
&:-moz-placeholder { /* Firefox 18- */
  color: $placeholder;
}
    &:focus{
        border-color: #B5B5B5;    
    }
    
    flex: 1;
    border: 1px solid #E1E1E1;
    height: 4.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    font-size: 1.4rem;
    color: #343030;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    transition: all .3s ease;
}
.nav__link{
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 4.8rem;
}
.header__left{
    flex: 1;
    display: inline-flex;
    align-items: center;
}
.header-nav{
    display: inline-flex;
    align-items: center;
}
.header-nav__link{
    
    display: inline-flex;
    align-items: center;
}
.search__btn{
    border: none;
    height: 4.8rem;
    min-width:12.2rem;
    padding:1.3rem 1.5rem;
}
.logo{
    font-size: 0;
    display: inline-block;
}