.main{
    min-height: calc(100vh - (96px * 2));
    padding-top: 4.5rem;
}

.tile{
   border: 1px solid #E1E1E1;    
}
.tile__pic{
    img{
        width: 100%;
    }
    display: block;
    font-size: 0;
}
.tile__content{
    padding: 2rem 2.3rem 2.3rem;
}
.tile__title{
    display: block;
    min-height: 5.4rem;
    margin-bottom: 2.1rem;
}

.price{
    line-height: 1.1;
    margin-bottom: 0;
}
.price_old{
    margin-bottom: .5rem;
    color: #A0A0A0;
    display: block;
}
.tile-nav{
    min-height: 4.8rem;
    display: flex;
    align-items: center;
}
.prices{
    flex: 1;
}
.tile-sold{
    margin-bottom: 0;
}
.tile_b-offset{
    margin-bottom: 3.2rem;
}