<template>
    <footer class="footer">
           <div class="wrapper wrapper_default">
               <div class="footer__content">
                   <div class="footer__left">
                    <a href="#" class="logo footer__logo">
                        <img src="images/footer-logo.svg" alt="">
                    </a>
                    <nav class="nav footer-nav">
                        <a href="#" class="nav__link footer-nav__link">
                            Каталог
                        </a>
                        <a href="#" class="nav__link footer-nav__link">
                            Доставка
                        </a>
                        <a href="#" class="nav__link footer-nav__link">
                            Оплата
                        </a>
                        <a href="#" class="nav__link footer-nav__link">
                            Контакты
                        </a>
                        <a href="#" class="nav__link footer-nav__link">
                            О галерее
                        </a>
                    </nav>
                  </div>
                  <div class="footer-contacts">
                      <a href="tel:+74955555555" class="phone footer-contacts__item footer__phone">
                          <svg class="phone-ico footer__phone-ico"><use xlink:href="images/icons.svg#phone-ico"></use></svg>
                          <span class="footer-contacts__title">
                              +7 (495) 555-55-55
                          </span>
                      </a>
                      <a href="tel:+74955555555" class="pin footer-contacts__item footer__pin">
                          <svg class="pin-ico footer__pin-ico"><use xlink:href="images/icons.svg#pin-ico"></use></svg>
                          <span class="footer-contacts__title">
                              г. Москва, ул. Расплетина, 24
                          </span>
                      </a>
                      
                  </div>
               </div>
           </div>
        </footer>
</template>