<template>
    <header class="header">
            <div class="wrapper wrapper_default">
                <div class="header-row">
                    <div class="header__left">
                        <a href="#" class="logo">
                            <img src="images/logo.svg" alt="">
                        </a>

                        <nav class="nav header-nav">
                            <a href="#" class="nav__link header-nav__link">
                                Каталог
                            </a>
                            <a href="#" class="nav__link header-nav__link">
                                Доставка
                            </a>
                            <a href="#" class="nav__link header-nav__link">
                                Оплата
                            </a>
                            <a href="#" class="nav__link header-nav__link">
                                Контакты
                            </a>
                            <a href="#" class="nav__link header-nav__link">
                                О галерее
                            </a>
                        </nav>
                    </div>
                    
                    <form action="#" class="search header__search">
                        <input type="text" class="search__input" placeholder="Поиск по названию картины">
                        <button class="btn btn_brown search__btn">Найти</button>
                    </form>
                </div>
            </div>
        </header>
</template>