<template>
    <div class="tiles">
        <div class="row">
            <Product v-for="product in productsActual" :key="product.id" :product="product" @addInBasket='addInBasket'></Product>
            
        </div>
    </div>
</template>

<script>
import Product from '@/components/Product.vue'
export default {
    components:{
        Product
    },
    data(){
        return{
            inBasket: [],
            products:[
                {
                    id:1,
                    name:'«Рождение Венеры»',
                    author:'Сандро Боттичелли',
                    price:'2 000 000 $',
                    oldPrice:'1 000 000 $',
                    available:true,
                    image:'product-1.jpg',
                    inBasket:false
                },
                {
                    id:2,
                    name:'«Тайная вечеря»',
                    author:'Леонардо да Винчи',
                    price:'3 000 000 $',
                    available:true,
                    image:'product-2.jpg',
                    inBasket:false
                },
                {
                    id:3,
                    name:'«Сотворение Адама»',
                    author:'Микеланджело',
                    price:'5 000 000 $',
                    oldPrice:'6 000 000 $',
                    available:true,
                    image:'product-3.jpg',
                    inBasket:true
                },
                {
                    id:4,
                    name:'«Урок анатомии»',
                    author:'Рембрандт',
                    available:false,
                    image:'product-4.jpg',
                }
            ],
            productsActual:[]
        }
    },
    mounted(){
        
       if (localStorage.getItem('inBasket') !== null) {
          this.inBasket = localStorage.getItem('inBasket').split(',');
          this.products.map((obj) => {
            if(localStorage.getItem("inBasket").includes(obj.id)){
                obj.inBasket = true
            }
            this.productsActual.push(obj);
         
        })
       }else{
           this.inBasket=[];
           this.products.map((obj) => {
            
            this.productsActual.push(obj);
       })
       }
       
    },
    methods:{
        addInBasket(id){
            this.inBasket.push(id);
            localStorage.setItem("inBasket", JSON.stringify(this.inBasket));
        }
    }
}
</script>
