<template>
    <div class="col col--lg-3">
        <div class="tile tile_b-offset">
            <a href="#" class="tile__pic">
                <img :src="`images/${product.image}`" alt="">
            </a>
            <div class="tile__content">
                <a href="#" class="h2 tile__title">
                    {{product.name}} {{product.author}}
                </a>
                <div class="tile-nav" v-show="product.available">
                    <div class="prices">
                        <span class="h6 price price_old">
                            {{product.oldPrice}}
                        </span>
                        <span class="h3 price price_curent">
                            {{product.price}}
                        </span>
                    </div>
                    <button class="btn btn_brown pay-widget" v-bind:class="{ active: product.inBasket }" @click="addToBasket($event,product.id)">
                        <span class="pay-widget__title">
                            Купить
                        </span>
                        <span class="pay-widget__subtitle">
                            <svg class="check-ico pay-widget__check-ico">
                            <use xlink:href="images/icons.svg#check-ico">
                            </use>
                        </svg>   В корзине
                        </span>
                    </button>
                </div>
                <div class="tile-nav" v-show="!product.available">
                    <span class="h3 tile-sold">
                        Продана на аукционе
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
export default {
   props:['product'],
   
   methods:{
       addToBasket($event,id){
       
        const btn= $event.currentTarget;
        
        
        if(!btn.classList.contains('active')){
        this.$emit('addInBasket', id)

        btn.classList.add('loaded')
        axios.get('https://jsonplaceholder.typicode.com/posts/1')
        .then(()=>{
            
            
              btn.classList.remove('loaded');
              btn.classList.add('active');
              
        })
        
       }
       }
       
   }
}
</script>
