<template>
    <div id="app">
        <Header></Header>
        <main class="main">
            <section class="section section_default">
               <div class="wrapper wrapper_default">
                    <h1 class="section__title">Картины эпохи Возрождения</h1>
                    <Products></Products>
                </div>
            </section>
        </main>
        
        
<Footer></Footer>  

    </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Products from '@/components/Products.vue'
    export default {
        name: 'App',
        components: {
            Header,
            Footer,
            Products
        }
    }

</script>
